<main>
    <div class="wrapper">
        <div>
            <h1>{{title}}</h1>
        </div>
        <div>
            {{article.tile}}
            <p>{{article.body}}</p>
        </div>
    </div>
</main>
