body{
    padding:0px;
    margin:0px;
}
footer{
    padding: 20px;
    background: #bbb;
}
.wrapper{
    max-width: 1200px;
    margin:0 auto
}
.menu-wrapper ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-wrapper li{
    padding: 10px;
    list-style: none;
}
.quiz-wrapper hr{
    color: #fff;
}
.quiz-wrapper pre{
    padding: 10px;
    background:
    #200202;
    border-radius: 5px;
    color:
    #fff;
    font-weight: bold;
}
.corect-answer {
    background:#e0ffcb;
    padding: 10px;
}
.wrong-answer {
    background:#ffdfdf;
    padding: 10px;
}
.form-answer-header h2{
    text-align: center;
    font-weight: 900;
}
.form-answer-header p{
    text-align: center;
}
.form-answer-header .corect{
    color: green;
    font-weight: 900;
}
.answer-wrapper{
    margin-bottom: 3px;
}
.quiz-wrapper .corect-answer,
.quiz-wrapper .wrong-answer{
    margin-bottom: 5px;
    border-radius: 5px;
}