<div class="popup-forms">
    <div class="btn-group">
        <button>Log In</button>
        <button>Registration</button>
    </div>
    <form name="login-form">
        <fieldset>
            <input type="email" placeholder="Enter your email">
            <input type="password" placeholder="Enter your password">
        </fieldset>
    </form>
    <form name="registration-form">
        <fieldset>
            <input type="text" placeholder="your name">
            <input type="email" placeholder="your email">
            <input type="password" placeholder="create your password">
            <textarea>tell about youself</textarea>
        </fieldset>
    </form>
</div>
