<nav>
    <div class="wrapper">
        <div class="menu-wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/info">info</a></li>
            </ul>
        </div>
    </div>
</nav>